<%= form_for(@comment_line_item) do |f| %>
  <% if @comment_line_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comment_line_item.errors.count, "error") %> prohibited this comment_line_item from being saved:</h2>

      <ul>
      <% @comment_line_item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">

    <%= f.text_field :product_id, :value => @new_id,  :id => "hidden_product_id"%>
  </div>
  <div class="field">

    <%= f.text_field :comment_id, :value => @new_id , :id => "hidden_comment_id" %>
  </div>
  <div class="field">
    <%= f.label "write down you comment here."%><br />
    <%= f.text_area :cmContent, :id => "bxComment"  %>
  </div>
  
<div class="field">
    <%= f.label "You can give a score to this book:"%><br />
    <%= f.text_field :grade, :id => "bxGrade"  %>
  </div>
  
  <div class="actions">
    <%= f.submit :value => "create comment"%>
  </div>
<% end %>
