<p id="notice"><%= notice %></p>

<p>
  <b>Product:</b>
  <%= @comment_line_item.product_id %>
</p>

<p>
  <b>Comment:</b>
  <%= @comment_line_item.comment_id %>
</p>

<p>
  <b>Cmcontent:</b>
  <%= @comment_line_item.cmContent %>
</p>

<p>
  <b>Grade:</b>
  <%= @comment_line_item.grade %>
</p>


<%= link_to 'Edit', edit_comment_line_item_path(@comment_line_item) %> |
<%= link_to 'Back', comment_line_items_path(:product_id => @show_ID), :method => :get %>
