<style type="text/css">
	#bxComment {
		height: 120px; width: 90%; 
	}
	#content_label {
		margin-top: 50px;
	}
	#bxGrade{
		height:20px; width:90%;
	}
</style>

<script type="text/javascript">
	function check_before_submit(str,x) {
		if (str == "")	{
			alert("can not be empty!");
			return false;
			}
	    if (x!=0 && x!=1 && x!=2 && x!=3 && x!=4 && x!=5)	{
			alert("score must be 0,1,2,3,4,5!");
			return false;
			}		
	}
</script>

<%= form_for(@comment_line_item) do |f| %>
  <% if @comment_line_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comment_line_item.errors.count, "error") %> prohibited this comment_line_item from being saved:</h2>

      <ul>
      <% @comment_line_item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">

    <%= f.text_field :product_id, :value => @product.id,  :id => "hidden_product_id"%>
  </div>
  <div class="field">

    <%= f.text_field :comment_id, :value => @product.id , :id => "hidden_comment_id" %>
  </div>
  <div class="field">
    <%= f.label "write down you comment here.", :id => "content_label"%><br />
    <%= f.text_area :cmContent, :id => "bxComment"  %>
  </div>
  
  <div class="field">
    <%= f.label "You can give a score to this book:"%><br />
    <%= f.text_field :grade, :id => "bxGrade"  %>
  </div>
  
  
  <div class="actions">
    <%= f.submit :value => "create comment", :onclick => "return check_before_submit(bxComment.value,bxGrade.value)" %>
  </div>
<% end %>
