<div id="product_list">
  <h1>Listing products</h1>

 <table width="90%" border="0" cellspacing="100%" cellpadding="80">
 	<% i = 1 %>
   <% @products.each do |product| %>
      <% if i%4 == 1%>
         <!--<tr class="<%= cycle('list_line_odd', 'list_line_even') %>">-->
         	<tr>
      <% end %>
      <td>
        <%= link_to image_tag(product.image_url, :class => 'list_image'), product %>
        <dd><h4><%= product.title %></h4></dd>
        <dt><%= truncate(strip_tags(product.description),:length => 60) %></dt>
        <%= link_to 'Show', product %>
        <%= link_to 'Edit', edit_product_path(product) %>
        <%= link_to 'Destroy', product, :confirm => 'Are you sure?',:method => :delete %>
        <% i = i+1 %>
      </td>
      <% if i%4 == 1%>
         </tr>
      <% end %>
    
  <% end %>
  </table>
</div>

<br />

<p> <%= will_paginate @products %></p>

<%= link_to 'New product', new_product_path %>
